@import "tailwindcss";

.ProseMirror:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

h1.heading {
  @apply font-bold text-6xl;
}

h2.heading {
  @apply font-semibold text-4xl;
}

h3.heading {
  @apply font-semibold text-3xl;
}

h4.heading {
  @apply font-semibold text-2xl;
}

h5.heading {
  @apply font-semibold text-xl;
}

h6.heading {
  @apply font-semibold text-lg;
}
